html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 15px;
}

h1, h2  {
    color: white;
}

.section_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('../img/field.jpg');
    background-color:rgb(190, 223, 190);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;   
}

    .blok {
        flex-basis: 250px;
        margin: 50px 10px;
        padding: 20px;
        background-color:rgb(0,0,0, 0.6);
        text-align: center;
    }  

    .blok > p {
        color: rgb(223, 223, 223);
    }

    .blok > a {
        color:rgb(77, 255, 255);
    }

.section_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-image: url('../img/field2.jpg');
    background-color:rgb(148, 173, 109);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    color: white;
}
    .header {
        text-align: center;
        min-width: 2000px;  
    }
    
    .section_romb {
        /* border: rgb(201, 201, 201) solid 1px; */
        flex-basis: 200px;
        margin: 25px 10px;
        padding: 10px;
        text-align: center;
        position: relative;    
    }

        .button {
            display: inline-block;
            background-color: rgb(44, 177, 177);
            color: azure;   
        }

            .link {
                display: inline-block;
                color: white;
                padding: 10px 20px;
            }

@media screen and (max-width:970px) {
    .section_romb {
       margin: 40px 50px; 
    }
}

@media screen and (max-width:639px) {
    .section_romb {
        border: rgb(201, 201, 201) solid 1px;
    }
}

.section_3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/blok3.jpg);
    background-color: rgb(152, 207, 211);
}

    .events {
        max-width: 750px;
        margin: 10px;
        color: #fff;
        display: flex;
        flex-wrap: nowrap;  
    }

        .event_date {
            padding: 15px;
            background-color: rgba(8, 8, 8, 0.589);
            font-size: 20px;
            max-width: 50px;
        }

        .event_description {
            padding: 0px 10px 30px 10px;
            background-color:rgba(88, 97, 116, 0.459);
            flex-grow: 1; 
        }

        .next {
            /* padding: 60px 10px 25px 10px;  */  
            display: flex;       
            background-color: rgba(8, 8, 8, 0.514);
        }
            .arrow {
                align-self: center;
            }
                
@media screen and (max-width: 570px) {
    .events {
        flex-direction: column;
    }
    .event_date {
        max-width: 100%;
    }
    .next {
        justify-content: center;
    }
}

/*
1. как расположить флекс элементы друг над другом
2. как выровнять содержимое флекс ячейки по вертикали
3. как
*/